<!DOCTYPE html>
<html>
	<head>
		<title>Pizza Express</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body>
		<h1>Pizza Express</h1>
		
		{{{ body }}}

	</body>
</html>