<h1>You have discovered a new pokemon!</h1>
<h3>Add it to your pokedex</h3>

<form action="/pokemon" method="POST">
	<div>
		<label for="name">Name:</label>
		<input type="text" name="name">
	</div>
	<div>
		<label for="id">Number:</label>
		<input type="text" name="id">
	</div>
	<div>
		<label for="img">Picture:</label>
		<input type="url" name="img">
	</div>
	<div>
		<input type="submit" value="Add a newly discovered pokemon">
	</div>
</form>